body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* Fondo negro */
  color: white; /* Texto blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Sombra */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 40px;
}

.success-icon {
  font-size: 60px;
  color: #4caf50; /* Color verde */
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50; /* Color verde */
  color: white; /* Texto blanco */
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el cursor */
}
